image: Visual Studio 2017
# List of preinstalled software in the image:
# https://www.appveyor.com/docs/windows-images-software/

build_script:
- set CONDA_INSTALL_LOCN=C:\\Miniconda37-x64
- call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
- call conda config --set always_yes yes --set changeps1 no
- call conda info -a
- call conda update -q conda
- call conda install -c conda-forge python=3.7 re2c m2-bison xonsh cython
- xonsh ci-build.xsh
