image: Visual Studio 2017
# List of preinstalled software in the image:
# https://www.appveyor.com/docs/windows-images-software/

build_script:
- set CONDA_INSTALL_LOCN=C:\\Miniconda37-x64
- call %CONDA_INSTALL_LOCN%\Scripts\activate.bat
- call conda config --set always_yes yes --set changeps1 no
- call conda info -a
- call conda update -q conda
- call conda install -c conda-forge python=3.7 re2c m2-bison xonsh cython scikit-build llvmdev=8.0.0 pytest llvmlite=0.32.1 prompt_toolkit antlr-python-runtime=4.7 pygments
- set CONDA_PREFIX=C:\\Miniconda37-x64
- set LFORTRAN_CMAKE_GENERATOR=Visual Studio 15 2017 Win64
- set WIN=1
- set MACOS=0
- xonsh ci\build.xsh
